<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<add name="SurrogacyDBConnection" connectionString="Data Source=localhost\JENISDBSERVER;Initial Catalog=SurrogacyDB;UID=sa;PWD=Devi@2612" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!--System settings configuration (Secutiry)-->
		<add key="UserNameSecurityEnable" value="true" />
		<add key="PasswordSecurityEnable" value="true" />
		<add key="NumberSecurityEnable" value="true" />
		<add key="TextSecurityEnable" value="false" />

		<!--System settings configuration (Error Log)-->
		<add key="EnableErrorLog" value="true" />
		<add key="RedirectOnException" value="false" />
		<add key="GenericErrorMessage" value="Something went wrong! Please contact technical team!" />
		<add key="GenericDataErrorMessageHeader" value="Please correct below error first!" />
		<add key="GenericDataSuccessMessageHeader" value="Data Saved Successfully!" />

		<!--System settings configuration (Application)-->
		<add key="ApplicationSettingFrom" value="CONFIG"/> <!--"DB"-To consider it from Database/ "CONFIG" - To Consider it from Configuration-->
		<add key="ApplicationName" value="SecondHOPE"/>
		<add key="ApplicationNameFP" value="Second"/>
		<add key="ApplicationNameLP" value="HOPE"/>
		<add key="ApplicationNameShortName" value="LHP"/>
		<add key="ApplicationLogoPath" value="/Content/dist/img/logo.png"/>		
		<add key="ApplicationFaviconPath" value="/Content/dist/favicon/favicon.ico"/>
		<add key="ApplicationWebLink" value="http://localhost:4356"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
	<sessionState mode="InProc" timeout="2" cookieless="false" />
	<authentication mode="Forms">
		<forms loginUrl="~/Account/Login" timeout="2">
		</forms>
	</authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
	<staticContent>
		<remove fileExtension=".woff" />
		<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		<remove fileExtension=".woff2" />
		<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
	 </staticContent>
  </system.webServer>
</configuration>
